* {
  box-sizing: border-box;
}

/* BLOCCO LEZIONI */
#lezioni img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps {
  text-align: center;
}

/* BLOCCO PERCHÈ */
#why {
  text-align: center;
}

#why > .first,
#why > .second,
#why > .third {
  margin-top: 80px;
}

#why img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px;
}

/* COMMON */
img {
  height: 200px;
}
